/* body */
/* overflow: hidden; */

#hero {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: rgb(99, 83, 83);
  color: white;
  text-align: center;
}
.container {
  padding: 0;
  margin-left: 40px;
  margin-right: 40px;
}

.cardDeck {
  height: 150px;
  width: 150px;
  margin: 0.5em;
  padding: 0.5em;
  background: url(https://picsum.photos/id/265/150);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s;
  transform: rotateY(180deg);
}

.cardHidden {
  background: red;
  height: 150px;
  width: 150px;
  margin: 0.5em;
  padding: 0.5em;
}
